Binaries
DerivedDataCache
Intermediate
Saved
Content/StarterContent/
Content/AnimStarterPack/*
!Content/AnimStarterPack/Ue4ASP_Character.uasset
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace